# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Editors
.vscode/
.idea/

.DS_Store
**/.DS_Store
*/venv
**/__pycache__

**/dataset
output.json
/data.csv

queries_vegard.py
